branca==0.8.1
faiss-cpu==1.5.3
Flask==3.1.1
Flask_Bcrypt==1.0.1
Flask_Caching==2.3.1
Flask_Login==0.6.3
folium==0.20.0
geopandas==1.1.0
geopy==2.4.1
googlemaps==4.10.0
matplotlib==3.10.3
numpy==2.3.0
pandas==2.3.0
Pillow==11.2.1
pymongo==4.13.2
python-dotenv==1.1.0
python_dateutil==2.9.0.post0
pytz==2025.2
Requests==2.32.4
schedule==1.2.2
scikit_learn==1.7.0
scipy==1.15.3
selenium==4.33.0
sentence_transformers==4.1.0
torch==2.7.1
transformers==4.52.4
webdriver_manager==4.0.2
